body {
	margin: 0 auto;
	max-width: 1579px;
}
.part1_content {
	max-width: 1249px;
	margin: 0 auto;
}
.header {
	max-width: 1579px;
	height: 688px;
	background-color: #f6f2f2;
	margin: 0 auto;
	padding-top:29px;
}
.infoblock{
	max-width: 1249px;
	margin: 108px auto 0px auto;
}
.leftinfo{
	float: left;
	max-width: 600px;
}
.rightinfo{
	float: right;
}
.infovideo{
	width: 551px;
	height: 356px;
	background-color: #c2c0b1;
	box-shadow: 0 0 100px 20px rgba(122,122,122,0.5);
}
.playvideo{
	width: 70px;
	height: 70px;
}
.center{
	padding-top:25%;
	text-align: center;
}
.logo{
	width: 588px;
}
.logo h1{
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 55px;
	font-weight: bold; /*Нужен Extra-bold, непонимаю как поставить*/
	line-height: 1.2;
	letter-spacing: 6px;
	color: #000000;
}
.description{
	margin-top: 36px;
	width:512px;
	opacity: 0.7;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 1.75;
	text-align: left;
	color: rgba(0, 0, 0, 0.7);
}
.Contacts{
	margin-top: 58px;
}
.Contact{
	width: 227px;
	color: #ffffff;
	text-decoration: none;
	user-select: none; /* убирать выделение текста */
	background-color: #ff2d2d;
	font-size: 18px;
	line-height: 1.88;
	letter-spacing: 0.5px;
	border-radius: 5px;
	padding: 23px 63px; /* отступ от текста */
	outline: none; /* убирать контур в Mozilla */
}
.head-menu{
	max-width: 1249px;
	margin: 0 auto;
	background:#000000;
}
.head-menu ul{
	margin: 0 auto;
    display: table;
	list-style: none;
	height: 89px;
}
.head-menu a {
	text-decoration: none;
	background:#000000;
	color:#e0e0e0;
	padding:0px 15px; /
	font-family: 'Open Sans', sans-serif; /*НЕ РАБОТАЕТ, памагите*/
	line-height:89px;
	display: block; 
	-moz-transition: all 0.3s 0.01s ease;
	-o-transition: all 0.3s 0.01s ease;
	-webkit-transition: all 0.3s 0.01s ease;
	
}
.head-menu a:hover {
	background:#D43737;
}
.head-menu li {
	float:left; /*Размещаем список горизонтально для реализации меню*/
}

.part3{
	max-width: 1249px;
	margin-top: 140px;
    overflow: hidden;
}
.part3_title {
	max-width: 341px;    
	margin-bottom: 40px;
	height: 32px;
	opacity
	: 0.8;
	font-family: 'Open Sans', sans-serif;
	font-size: 37px;
	font-weight: bold;
	letter-spacing: 0.4px;
	text-align: left;
	color: rgba(0, 0, 0, 0.8);
}
.part3_text {
	margin-bottom: 33px;
	width: 446px;
	height: 73px;
	opacity: 0.7;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 1.75;
	text-align: left;
	color: rgba(0, 0, 0, 0.7);
}

.part3_Rectangle {
	margin-bottom: 69px;
	width: 132px;
	height: 3px;
	background-color: #ff2d2d;
}
.vzardini {
	float: left;
	margin-right: 75px;
	background-color: #F5F5DC;
	width: 321px;
	height: 458px;
}
.part3_rightside{
	float: left;  
	
}
.part3_title_2 {
	padding-bottom: 35px;
	width: 207px;
	height: 23px;
	opacity: 0.8;
	font-family: 'Open Sans', sans-serif;
	font-size: 27px;
	font-weight: 600;
	letter-spacing: 0.3px;
	text-align: left;
	color: rgba(0, 0, 0, 0.8);
}
.part3_text_2 {
	padding-bottom: 44px;
	width: 446px;
	height: 73px;
	opacity: 0.7;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 1.75;
	text-align: left;
	color: rgba(0, 0, 0, 0.7);
}
.part3_small_text {
	float: left;
	width: 82px;
	height: 15px;
	margin-right: 25px;
	opacity: 0.8;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-style: italic;
	line-height: 1.33;
	letter-spacing: 0.9px;
	text-align: left;
	color: rgba(0, 0, 0, 0.8);
}
.part3_image {
	margin-top:55px;
	margin-right: 16px;
	background-color: #F5F5DC;
	float: left;
	width: 196.8px;
	height: 214px;
}
.part4_title {
	padding-top: 10%;
	opacity: 0.8;
	font-family: 'Open Sans', sans-serif;
	font-size: 42px;
	font-weight: bold;
	line-height: 0.57;
	letter-spacing: 1.1px;
	text-align: center;
	color: rgba(255, 255, 255, 0.8);
}
.part4_text {
	padding-top: 3%;
	opacity: 0.8;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 1.75;
	text-align: center;
	color: rgba(255, 255, 255, 0.8);
	padding-bottom: 5%;
}
input[type="text"] {
	
    padding-left: 20px;
    padding-right: 20px;
	width: 319px;
	height: 79px;
	font-size: 16px;
	border-radius: 8px;
}
input[type="text"].subscribeemail{
	border-style: solid;
	border: 0.25em solid white;
	width: 481px;
	height: 79px;
	border-radius: 5px;
}
button {
	padding: 35px 71px;
	border-radius: 12px;
	background-color: #ff2d2d; 
	color: white;
}
.part4_ib{
	float: left;
    margin-right: 7px;
}

.part4_input_and_button{
	width:50%;
	margin: auto;
    overflow: hidden;
}
.feature_products_upper_line {
	width: 1249px;
	height: 2px;
    border: 0;
	background-color: #ececec;
	margin: 108px auto 0px auto
}
.feature_products_lower_line {
	width: 132px;
	height: 3px;
    border: 0;
	background-color: #ff2d2d;
	margin: 0px auto 108px auto
}
.feature_products_infoblock {
	max-width: 450px;
	margin: 108px auto 0px auto
}
.feature_products_logo {
	margin: 0px auto 0px auto
	width: 420px;
	height: 32px;
	opacity: 0.8;
	font-family: 'Open Sans', sans-serif;
	font-size: 42px;
	font-weight: bold;
	letter-spacing: 0.4px;
	text-align: center;
	color: rgba(0, 0, 0, 0.8);
}
.feature_products_description{
	margin: 0px auto 0px auto
	width: 504px;
	height: 45px;
	font-family: 'Open Sans', sans-serif;
	opacity: 0.7;
	font-size: 16px;
	line-height: 1.75;
	text-align: center;
	color: rgba(0, 0, 0, 0.7);
	padding-top: 60px;
	padding-bottom: 40px;
}
.feature_products{
	margin: 0px auto 0px auto;
	overflow:hidden;
}
.feature_products_menu{
	max-width: 1249px;
	margin: 0px auto 0px auto;
}
.feature_products_menu ul{
	margin: 0px auto 0px auto;
	list-style: none;
	height: 89px;
	text-align: center;
}
.feature_products_menu a {
	padding-left: 80px;
	font-size: 22px;
	font-weight: 600;
	line-height: 1.09;
	letter-spacing: 0.2px;
	text-align: center;
	text-decoration: none;
	color: rgba(0, 0, 0, 0.7);
	font-family: 'Open Sans', sans-serif;
	display: inline-block; 
	-moz-transition: all 0.3s 0.01s ease;
	-o-transition: all 0.3s 0.01s ease;
	-webkit-transition: all 0.3s 0.01s ease;
}
.feature_products_menu a:hover {
	color: #ff2d2d;
}
.feature_products_menu li {
	float:left;
}

.footer{
	width: 1583px;
	width: 100%;
	height: 111px;
	float: left;
	margin-top: 110px;
	background-color: #313030;
}
.footer_text{
	position: relative;
	top:40%;left:20%;
	width: 40%;
	height: 17px;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 1.63;
	text-align: left;
	color: #b8b8b8;
}
.footer_image{
	position: relative;
	top:22%;right:10%;
	float: right;
	width: 50px;
	height: 33px;
}
.part4 {
	margin: 110px auto;
	width: 1499px;
	height: 512px;
	background-color: #f3f1de;
}
.part5{
	//border-style: solid;
	width: 1499px;
	margin: auto;
	//display: inline-block;
}
.part5_left{
	//border-style: solid;
	float: left;
}

.part5_right{
	//border-style: solid;
	float: right;
	text-align: right;
}
.part5_input{
	text-align: left;
}
.part5_title {
	margin-top: 100px;
	height: 32px;
	opacity: 0.8;
	font-family: 'Open Sans', sans-serif;
	font-size: 42px;
	font-weight: bold;
	letter-spacing: 0.4px;
	text-align: left;
	color: rgba(0, 0, 0, 0.8);
}
.part5_rectangle {
	width: 731px;
	height: 72px;
	border-radius: 5px;
	background-color: #ff3b3b;
}
.part5_rectangle_right {
	float:left;
	width: 577px;
	height: 481px;
	background-color: #2d2d2d;
}
.part5_contact_info {
	margin: 145px 0px 0px 79px;
	width: 180px;
	height: 14px;
	opacity: 0.8;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight: bold;
	line-height: 1.89;
	letter-spacing: 0.4px;
	text-align: left;
	color: rgba(255, 255, 255, 0.8);
}
.part5_adress {
	margin: 41px 0px 0px 79px;
	width: 285px;
	height: 45px;
	opacity: 0.8;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 1.75;
	text-align: left;
	color: rgba(255, 255, 255, 0.8);
}
.part5_mail {
	margin: 27px 0px 0px 79px;
	width: 191px;
	height: 15px;
	opacity: 0.8;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 1.75;
	text-align: left;
	color: rgba(255, 255, 255, 0.8);
}
.part5_number {
	margin: 33px 0px 0px 79px;
	width: 149px;
	height: 15px;
	opacity: 0.8;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 1.75;
	text-align: left;
	color: rgba(255, 255, 255, 0.8);
}
.text_get_in_touch {
	width: 350px;
} 
#big_text_get_in_touch {
	width: 729px;
	height: 250px;
} 
.colortext {
	margin: 0px 45px 40px 0px;
	background-color: #f6f2f2;
	color: rgba(0, 0, 0, 0.7);
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 1.75;
	text-align: left;
	color: rgba(0, 0, 0, 0.7);
}
.part5_text {
	display:inline-block;
	width: 720px;
	height: 73px;
	opacity: 0.7;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 1.75;
	text-align: left;
	color: rgba(0, 0, 0, 0.7);
	margin: 60px auto 60px auto;
}
.part5_send_message {
	margin: auto;
	width: 150px;
	height: 14px;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight: bold;
	line-height: 1.89;
	letter-spacing: 0.4px;
	text-align: center;
	color: #ffffff;
}
.feature_products_bckgr{ 
	max-width: 1579px;
    overflow: hidden;
}
.feature_products_rightside{
	float: left;  
	width: 100%;
}
.feature_products_icoppola {
	margin-top:19px;
	margin-left: 20px;
	background-color: #F5F5DC;
	float: left;
	width: 23%;
	height: 290px;
}
.feature_products_adonadoni {
	margin-top:19px;
	background-color: #F5F5DC;
	margin-right: 20px;
	float: left;
	width: 297px;
	height: 290px;
}
.feature_products_chihuahua {
	margin-top:19px;
	background-color: #F5F5DC;
	margin-right: 20px;
	float: left;
	width: 297px;
	height: 290px;
}
.feature_products_dobermann {
	margin-top:19px;
	background-color: #F5F5DC;
	float: left;
	width: 297px;
	height: 290px;
}
.part1{
	overflow:hidden;
}
.part1_left{
	width: 50%;
	float: left;
}
.part1_right{
	width: 50%;
    overflow: hidden;
	float: right;
}
.TextLearnMore{
	position: relative;
	top:22%;
	width: 106px;
	height: 14px;
	font-family: 'Open Sans', sans-serif;
	font-size: 18.1px;
	font-weight: bold;
	line-height: 1.88;
	letter-spacing: 0.5px;
	text-align: center;
	user-select: none;
	color: #ff2d2d;
	padding: 23px 63px; 
	outline: none; 
	border-radius: 5px;
	text-decoration: none;
}
.part1_logo {
	width: 493px;
	height: 87px;
	opacity: 0.8;
	font-family: 'Open Sans', sans-serif;
	font-size: 42px;
	font-weight: bold;
	line-height: 1.31;
	letter-spacing: 0.4px;
	text-align: left;
	color: rgba(0, 0, 0, 0.8);
}
.part1_description{
	width: 529px;
	height: 98px;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 1.75;
	text-align: left;
	color: #000000;
	padding-top: 60px;
	padding-bottom: 40px;
}

.BottonLearnMore{
	width: 240px;
	height: 55px;
	border-radius: 5px;
	p {border-style: solid;}
	background-color: #ff0000;
	border: solid 2px #ff0000;
}
.part1_title{
	width:100%;
	margin-top: 20px;
	margin-bottom: 20px;
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	font-weight: 600;
	letter-spacing: 0.2px;
	color: rgba(0, 0, 0, 0.7);
}
.part1_text{
	width:90%;
	opacity: 0.7;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 1.75;
	color: rgba(0, 0, 0, 0.7);
}
.part1_block{
	width:48%;
	margin: auto 10px 50px auto;
	position: relative;
	float:right;
    overflow: hidden;
}