body {
	margin: 0;
}

.header {
	max-width: 1579px;
	height: 688px;
	background-color: #f6f2f2;
	margin: 0 auto;
	padding-top:29px;
}


.infoblock{
	max-width: 1249px;
	margin: 108px auto 0px auto
}

.leftinfo{
	float: left;
	max-width: 600px;
}

.rightinfo{
	float: right;
}

.infovideo{
	width: 551px;
	height: 356px;
	background-color: #c2c0b1;
}

.playvideo{
	width: 70px;
	height: 70px;
}

.center{
	padding-top:25%;
	text-align: center;
}

.logo{
	width: 588px;
}

.logo h1{
	margin: 0;
	font-family: OpenSans;
	font-size: 60px;
	font-weight: 800;
	line-height: 1.2;
	letter-spacing: 6px;
	color: #000000;
}

.description{
	margin-top: 36px;
	width:512px;
	opacity: 0.7;
	font-family: OpenSans;
	font-size: 16px;
	line-height: 1.75;
	text-align: left;
	color: rgba(0, 0, 0, 0.7);
}
.Contacts{
	margin-top: 58px;
}
.Contact{
	width: 227px;
	color: #ffffff;
	text-decoration: none;
	user-select: none; /* убирать выделение текста */
	background-color: #ff2d2d;
	font-size: 18px;
	line-height: 1.88;
	letter-spacing: 0.5px;
	border-radius: 5px;
	padding: 23px 63px; /* отступ от текста */
	outline: none; /* убирать контур в Mozilla */
}


.head-menu{
	max-width: 1249px;
	margin: 0 auto;
}

.head-menu ul{
	margin: 0 auto;
	list-style: none;
	padding-left: 358px;
	background:#000000;
	height: 89px;
	text-align: center;
}

.head-menu a {
	text-decoration: none;
	background:#000000;
	color:#e0e0e0;
	padding:0px 15px; /
	font-family: OpenSans; /*НЕ РАБОТАЕТ, памагите*/
	line-height:89px;
	display: block; 
	-moz-transition: all 0.3s 0.01s ease;
	-o-transition: all 0.3s 0.01s ease;
	-webkit-transition: all 0.3s 0.01s ease;

}
.head-menu a:hover {
	background:#D43737;
}
.head-menu li {
	float:left; /*Размещаем список горизонтально для реализации меню*/
}
.bckgr_info{
	max-width: 1249px;
	margin: 0px auto; 
    margin-left: 108px auto;
    margin-right: 108px auto;
}
.Meet-our-team {
  max-width: 341px;    
  margin-bottom: 40px;
  height: 32px;
  opacity: 0.8;
  font-family: OpenSans;
  font-size: 37px;
  font-weight: bold;
  letter-spacing: 0.4px;
  text-align: left;
  color: rgba(0, 0, 0, 0.8);
}
.Lorem-ipsum-dolor-sit-amet-consectetur-adipis-cing-elit-sed-d-1 {
  margin-bottom: 33px;
  width: 446px;
  height: 73px;
  opacity: 0.7;
  font-family: OpenSans;
  font-size: 16px;
  line-height: 1.75;
  text-align: left;
  color: rgba(0, 0, 0, 0.7);
}

.Rectangle-4-copy-4 {
  margin-bottom: 69px;
  width: 132px;
  height: 3px;
  background-color: #ff2d2d;
}
.vzardini {
  float: left;
  margin-right: 75px;
  background-color: #F5F5DC;
  width: 321px;
  height: 458px;
}
.bckgr{ 
    max-width: 1579px;
	background-color: #f6f2f2;
	margin: 0 auto;
}

.rightside{
    float: left;   
}
.mark-waugh {
  padding-bottom: 35px;
  width: 207px;
  height: 23px;
  opacity: 0.8;
  font-family: OpenSans;
  font-size: 27px;
  font-weight: 600;
  letter-spacing: 0.3px;
  text-align: left;
  color: rgba(0, 0, 0, 0.8);
}
.Lorem-ipsum-dolor-sit-amet-consectetur-adipis-cing-elit-sed-d-2 {
  padding-bottom: 44px;
  width: 446px;
  height: 73px;
  opacity: 0.7;
  font-family: OpenSans;
  font-size: 16px;
  line-height: 1.75;
  text-align: left;
  color: rgba(0, 0, 0, 0.7);
}
.Facebook {
  float: left;
  width: 82px;
  height: 15px;
  opacity: 0.8;
  font-family: OpenSans;
  font-size: 18px;
  font-style: italic;
  line-height: 1.33;
  letter-spacing: 0.9px;
  text-align: left;
  color: rgba(0, 0, 0, 0.8);
}
.Dribble {
  padding-left: 29px;
  float: left;
  width: 63px;
  height: 15px;
  opacity: 0.8;
  font-family: OpenSans;
  font-size: 18px;
  font-style: italic;
  line-height: 1.33;
  letter-spacing: 0.9px;
  text-align: left;
  color: rgba(0, 0, 0, 0.8);
}
.Behance {
  padding-left: 29px;
  float: left;
  width: 72px;
  height: 15px;
  opacity: 0.8;
  font-family: OpenSans;
  font-size: 18px;
  font-style: italic;
  line-height: 1.33;
  letter-spacing: 0.9px;
  text-align: left;
  color: rgba(0, 0, 0, 0.8);
}
.Twiter {
  padding-left: 29px;
  float: left;
  width: 52px;
  height: 15px;
  opacity: 0.8;
  font-family: OpenSans;
  font-size: 18px;
  font-style: italic;
  line-height: 1.33;
  letter-spacing: 0.9px;
  text-align: left;
  color: rgba(0, 0, 0, 0.8);
}
.icoppola {
  margin-top:55px;
  margin-right: 20px;
  background-color: #F5F5DC;
  float: left;
  width: 196.8px;
  height: 214px;
}
.adonadoni {
  margin-top:55px;
  background-color: #F5F5DC;
  margin-right: 20px;
  float: left;
  width: 196.9px;
  height: 214px;
}
.chihuahua {
  margin-top:55px;
  background-color: #F5F5DC;
  margin-right: 20px;
  float: left;
  width: 196.8px;
  height: 214px;
}
.dobermann {
  margin-top:55px;
  background-color: #F5F5DC;
  float: left;
  width: 196.8px;
  height: 214px;
}
.footer{
	width: 1583px;
    width: 100%;
	height: 111px;
    float: left;
    margin-top: 110px;
	background-color: #313030;
}
.footer_text{
	position: relative;
	top:40%;left:20%;
	width: 346px;
	height: 17px;
	font-family: OpenSans;
	font-size: 16px;
	line-height: 1.63;
	text-align: left;
	color: #b8b8b8;
}
.footer_image{
	position: relative;
	top:22%;right:10%;
	float: right;
	width: 50px;
	height: 33px;
}
